<div class="banner-small" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('<%= @visual.visual_url %>');">
  <div class="banner-content">
    <h1> <%= @visual.country.name %></h1>
    <div class="dash-big"></div>
    <h3>By <%= @visual.author.nil? ? "a discreet traveler" : @visual.author.capitalize %></h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>Details of this exploration</h1>
  </div>
</div>
