// Define variables for your color scheme

// BASIC COLORS:
$black: #484848;
$white: #ffffff;
$light-gray: #FFF8F0; // MAIN
$medium-gray: #F4F4F4;
$gray: #616668; // medium-gray

// MAIN COLORS:
$red: #FC3771;
$blue: #3F60EA;
$yellow: #FEB817;
$dark-blue: #111555;

// NON MAIN
$orange: #E67E22;
$green: #32B796;
