<div class="footer">
  <div class="footer-copyright">
    <p>© 2018 All rights reserved. All images are copyrighted by their respective copyright owners</p>
  </div>
  <div class="footer-copyright">
    <p> Made with <i class="fa fa-heart"></i> by <a href="https://github.com/Patriciabsc">Patricia Bernasconi</a></p>
  </div>
  <div class="footer-links">
    <a href="https://github.com/Patriciabsc"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
</div>
